.user {
    margin: auto;
    background: #8cc9bc;
    border-radius: 8px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, .5);
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}